@font-face{
    font-family:"Graphik LC TT";
    src:url(./FONTS/./graphiklcg-regular-webfont.woff) format("woff2"),
        url(./FONTS/graphiklcg-regular-webfont.woff2)  format ("woff");
}

.header{
    background:#fff;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (max-width:1200px){
    .container{max-width:970px;}

    @media screen and (max-width:992px){
 .container{max-width:750px;}
}
 @media screen and (max-width:767px) {
    .container{
        max-width:none;
        margin:0 30px;

    }
 }
}


.burger{
    display:none;
}

.main-nav {
    display:flex;
    justify-content:space-between; 
    align-items: center;
    border-bottom: 2px solid #ccc;
     padding: 30px 0 20px ;
  
}

.main-nav__list{
display: flex;
gap:57px;
align-items:center;
}

.main-nav__link {
    text-decoration: none;
    color: #000;
    font-family: "Graphik LC TT", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  
}

.main-nav__btn-wrapper {
    display: flex;
    gap:10px;
}
.main-nav__button{
    color: #000;
    width: 120px;
    height: 45px;
    font-family: "Graphik LC TT", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #fff;
   
}

.main-nav__button_free {
    width: 120px;
    height: 45px;
    font-family: "Graphik LC TT", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    color: #fff;
    background: #ff6336;
    border:0;
}

@media screen and ( min-width:320px) and  (max-width:768px){
    .container{
        padding-top:30px;
    }
    .burger{
     display:block;
     width:30px;
     height:20px; 
     position:relative;
    }

    .burger span{
        position:absolute;
        background-color:#000000;
        left:0;
        width: 100%;
        height:2px;
        top:9px;

    }
    .burger:before,
    .burger:after{
        content:'';
        position:absolute;
        background-color: #000;
        width:100%;
        height:2px;
        left:0;
    }
     .burger:before{
        top:0;
    }
    .burger:after{
        bottom:0;
    }

    .main-nav__list{
        display:none;
    }
}


.intro-main{ 
    padding:131px  0 180px 0 ;
    justify-content: space-evenly;
    align-items:center;
    position: relative;
}


.intro-main__bigbox{
    display:flex;
}
  

.intro-main__box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1vh;
   
}
.intro-main__picture-box{
    position: absolute;
      height:auto;
      left:0;
      top:0;
      width:100%;
} 

.intro-main__title {
    color: #000;
    font-family: "Graphik LC TT", sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;

}

.intro-main__parg {
    color: #000;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.intro-main__btn-wrapper {
    display: flex;
    gap:10px;
}

.intro-main__button{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 160px;
    height: 60px;
    font-family: "Graphik LC TT", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    background:#fff;
}

.intro-main__button_free {
    background: #ff6336;
    color: #fff;
    order: -1;
    border:0;
    width: 160px;
    height: 60px;
    display: flex;   
    align-items: center;
    justify-content: center; 
font-family: Graphik LC TT,sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 60px; 


}

.intro-main__lowparg {
    color: #000;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.brands-main{
    background: #FF9C7D;
}

.brands {
    padding: 100px 0 100px ; 
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.brands__title {
    color: #000;
    text-align: center;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.brands__list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}



/* main-content */
.content {
    padding: 102px 0 150px ;
   
}

.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 300px;
}
.content-wrapper:nth-child(2n){
    flex-direction: row-reverse;
}


.content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} 


.content-box__title {
    color: #000;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 30px;
}

.content-box__parg {
    color: #000;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.content-box__link {
    color: #000;
    font-family: "Graphik LC TT", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    text-decoration: none;
}

.content-box_special {
    background: #FFF8E4;
    width: 632px;
    height: 577px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-box__wrapper {
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

.content-box__php {
    color: #000;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    left: 130px;
    bottom: 100px;
}

/* Features */

.features-main{
    background: #FFF8E4;
}
.features{
    padding:0 140px 0 129px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 50px;
    }

.features__title{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 60px; 
}

.features__card-bigbox{
 display:flex;
 justify-content: space-between;
 flex-wrap:wrap;
 row-gap: 20px;

}

.features__card{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width: 300px;
}

.features__card__title{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 35px;

}

.features__card__parg{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px; 
}

.advantages{
    padding:150px 0 78px; 
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    gap:85px;
    
}

.advantages__title{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 60px; 
}

.advantages__card-bigbox{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap:35px;
}

.advantages__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px; 
}

.advantages__card__title{
    color: #000;
    font-family: "Graphik LC TT";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; 
}

.advantages__card__parg{
    color: #000;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.advantages__card__image{
    width: 145px;
height: 201px;
}
.advantages__card__image_small{
    width: 179px;
    height: 183px;
}

.advantages__card__link{
    color: #000;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    text-decoration-line: underline;
}
.remarks-main{
    background: #C9E8F2;
}
.remarks{
    padding:130px 0 105px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.remarks__parg{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}

.remarks__parg_smal{
    color: #000;
font-family: Roboto,sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px;
}

.remarks__box{
display: flex;
flex-direction: column;
justify-content: space-evenly;

}


.remarks__logo{
 width: 115.216px;
height: 25px;
}

.ratings-main{
 background-color: #DABC98; 
}
.ratings{
padding: 50px 0 120px;
display: flex;
justify-content: space-evenly;
}

.ratings__box{
display: flex;
justify-content:space-between;
align-items: center;
border-right: 3px solid #000;
}

.ratings__title{
color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 50px;
}

.ratings__remarks{
display: flex;
justify-content: space-between;
align-items: center;
}

.user-ratings__box{
display: flex;
flex-direction: column;
align-content: space-evenly;
gap:15px;
}

.tools-integration{
    padding:175px 0 170px;
}

.tools-integration__box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
}

.tools-integration__title{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: 75px; 
}

.tools-integration__parg{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.tools-integration__button{
    background: #FF6336;
    color: #FFF;
    text-align: center;
    font-family: "Graphik LC TT",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    border: 0;
}

.localization{
    padding:130px 0 160px;
    background: #FF9C7D;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
}

.localization__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:55px;
}

.localization__title{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 65px;
font-style: normal;
font-weight: 600;
line-height: 75px;
}

.localization__parg{
    color: #000;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.localization__button{
    background: #000;
    color: #FFF;
text-align: center;
font-family: "Graphik LC TT",sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 60px;
width: 160px;
height: 60px;
}

.footer{
    background: #EEE;
}
.case-studies{
    padding:50px 0 48px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.case-studies__aside{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.case-studies-aside__title{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 600;
}

.case-studies-aside__picture{
    width: 150px;
    height: 150px;

    }

.case-studies-aside__logo{
width: 80px;
height: 32px;
}

.case-studies-aside__parg{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.case-studies-aside__link{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 25px; 
text-decoration: none;
}

.case-studies__global-links{
    display: flex;
    justify-content: space-between;
    gap:15px;
}

.case-studies__title{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 25px; 
}

.case-studies__list-container{
display: flex;
flex-direction: column;
justify-content:flex-start;
gap:15px;
}

.case-studies__list{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap:10px;
}

.case-studies__link{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 15px; 
text-decoration: none;
}

.copyrights{
    padding:50px 0 45px ;
    background: #EEE;
    border-top: 3px solid #000;
    display: flex;
    justify-content: space-between;
}

.copyrights-box{
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.copyrights__parg{
    color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 15px; 
}

.copyrights-smallbox__parg{
color: #000;
font-family: "Graphik LC TT",sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px;
}