h1 {
    font-size: 20px;
}

p {
    font-size: 3em;
}

/*Элемент <p> (абзац) будет иметь размер шрифта 2.5em.
Это означает, что текст абзаца будет в 2.5 раза больше базового размера шрифта его родительского контейнера (h1),
делая его значительно крупнее обычного текста.*/

.box-1 {
    background-color: orangered;
    width: 9em;
    height: 6em;
}

/*Его ширина будет равна 9em, а высота — 6em.
 Размеры в единицах em зависят от размера шрифта родительского элемента (h1),
 то есть размер блока будет масштабироваться в зависимости от размера текста родительского элемента (h1).*/