/*Cелекторы по аттрибуту*/

[placeholder] {
    border: 3px solid darkturquoise;
}

[type='number'] {
    box-shadow: 3px 3px 3px 3px indianred;
}

[type='tel'] {
    box-shadow: 3px 3px 3px 3px #5c7ccd;
}

[type='email'] {
    box-shadow: 3px 3px 3px 3px #7bf178;
}

/*Этот селектор выберет все ссылки, */
/*в которых атрибут href содержит слово "example".*/

a[href*='example'] {
}

/*Этот селектор [href^="https://"] используется для выбора всех элементов с атрибутом href,*/
/*где значение начинается с https://. Здесь символ ^= указывает на то, что нужно выбрать элементы,*/
/*у которых значение атрибута начинается с указанной строки.*/

[href^="https://"] {
}

/*Селектор [href$=".ru"] выбирает все элементы с атрибутом href, которые заканчиваются на .ru. */
/*Здесь $= указывает на то, что значение атрибута заканчивается на указанную строку.*/

[href$='.ru'] {
}

/*Селектор [alt="кот"] выбирает все элементы, у которых атрибут alt имеет значение точно равное "кот". */
/*Этот селектор часто применяется для изображений <img>, где атрибут alt используется для описания изображения.*/

[alt='кот'] {
}

/*Селектор [class|="header"] выбирает все элементы, у которых атрибут class начинается со значения "header",
либо начинается с "header-" и дальше имеет какой-то текст. Это правило действует благодаря символу |=,
который позволяет выбирать элементы, где значение атрибута либо точно совпадает с указанным, либо является частью слова,
разделенного дефисом.*/

[class|='header'] {
}

/*Селектор [alt*="cat" i] выбирает все элементы, у которых атрибут alt содержит подстроку "cat",
независимо от регистра (как заглавные, так и строчные буквы). Символ *= указывает на то,
что значение атрибута должно содержать указанную подстроку, а суффикс i делает поиск нечувствительным к регистру.*/
[alt*='cat' i] {
}

/*Селектор section p выбирает все элементы <p>, которые находятся внутри элемента <section>.(Селектор потомка) */
/*Он применяет стиль ко всем абзацам, вложенным в любой раздел страницы (<section>), на любом уровне вложенности.*/
section p {

}

/*Этот селектор применяет стили к элементам <li>, которые являются непосредственными детьми элемента <ul>*/

ul > li {

}

/*Этот селектор выбирает первый элемент <p>, который идет непосредственно после элемента <h2>. */
/* В данном примере, если на странице есть заголовок <h2>, то следующий за ним абзац <p>*/

h2 + p {

}

/*Селектор h2 ~ p — это сестринский селектор, который выбирает все элементы <p>, следующие после элемента <h2>
на одном уровне вложенности, независимо от того, сколько элементов между ними.*/
/*В отличие от смежного селектора +, который выбирает только следующий элемент, ~ выбирает все элементы,
которые идут после <h2>, и при этом могут быть на том же уровне вложенности, не обязательно непосредственно после него.*/

h2 ~ p {

}