.transparent-example {
    color: transparent;
    background-color: yellow;
}

/*color: transparent
Что делает: Задает полностью прозрачный цвет только для конкретного элемента (например, текста или фона),
оставляя другие части элемента без изменений.Применяется к: Определенным свойствам, связанным с цветом
(например, color, background-color, border-color).
Воздействие:
Прозрачность только цвета: Когда вы используете color: transparent, только цвет элемента (например, цвет текста) становится полностью прозрачным.
 Все остальные аспекты, такие как тени или фоновые изображения, остаются нетронутыми.
Элемент все еще присутствует на странице, и его размеры и другие стили остаются активными, но сам цвет будет невидим.
Этот стиль делает текст элемента невидимым, но другие свойства элемента (например, фон или границы) не затрагиваются.
color: transparent затрагивает только конкретный аспект — цвет текста или фона. Оно делает лишь этот цвет прозрачным,
а остальные части элемента остаются нетронутыми.
color: transparent не влияет на дочерние элементы. Например, если текст родительского элемента становится прозрачным,
дочерние элементы остаются непрозрачными.
В этом примере текст становится полностью невидимым, но фон и остальные стили остаются видимыми.*/

.opacity-text {
    color: black;
}

.opacity-example {
    opacity: 0.5;
    background-color: yellow;
}

/*opacity
Что делает: Задает прозрачность всего элемента, включая все его содержимое — текст, фон, границы и даже дочерние элементы.

Применяется к: Всему элементу.

Воздействие:

Прозрачность всего элемента: Свойство opacity влияет на весь элемент, включая его содержимое и все дочерние элементы.
Значение opacity варьируется от 0 до 1:
0 — элемент полностью невидим.
1 — элемент полностью непрозрачен.
Значения между 0 и 1 (например, 0.5) создают полупрозрачность.
Важно отметить, что при уменьшении значения opacity не только сам элемент, но и его дочерние элементы становятся полупрозрачными.
opacity влияет на всех потомков элемента — они тоже становятся полупрозрачными в зависимости от значения opacity.
В этом примере весь блок (включая фон и текст) становится полупрозрачным.*/
