/* Стили для .header */


.header {
    background-color: #EEEFF1;
} 

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.top{
    padding: 77px 0 143px;
}

.top__list{
    display: flex;
    flex-direction: row;
}

.top__item{
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-right:37px;
}

.top__item:last-child {
    margin-right: 0;
}

.top__link{
    text-decoration: none;
    color: #000;
}

.top__title {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%;
    padding-top: 144px;
}

.top__parg {
    margin: 35px 0 81px;
    color: #727272;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}

.top__btn {
    width: 225px;
    height: 65px;
    background-color: #34547A;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.4px;
}

/* Стили для .section-about */
.section-about {
    background-color: #F9F9F9;
}

.about {
    padding: 109px 0 92px;
}

.about__title {
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about__parg {
    padding-top: 39px;;
    color: #727272;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}

/* Стили для .section-project */
.section-project {
    background: var(--accent, #34547A);
}

.project {
    padding: 95px 0 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__content{
    margin-right: 11px;
}
.project__content:last-child{
    margin-right: 0;
}


.project__box{
display: flex;
flex-direction: column;
}


.project__title {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project__parg {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    margin-right: 59px;
}

/* Стили для section-work */
.section-work {
    background-color: var(--silver, #EEEFF1);
}

.work {
    padding: 101px 0 96px;
}

.work__title {
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 35px;
}

.work__parg{
    color: #727272;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; 
    margin-bottom: 77px;
}

/* Стили для footer */
footer {
    background-color: #34547A;
}

.bottom {
    padding: 48px 0 45px;
}

.bottom__title{
    margin-bottom: 13px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottom__parg {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}