/* Стили для .header */
.header {
    background-color: #EEEFF1;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    padding: 76px 0px 0px 46px;
}

.navigation li {
    display: inline;
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-right: 37px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
    color: #000;
}

.header-head {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 164.063%;
    padding: 144px 0 0 50px;
}

.header-desc {
    margin: 35px 0 0 48px;
    color: #727272;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}

.header-btn {
    width: 225px;
    height: 65px;
    margin: 83px 0 141px 47px;
    background-color: #34547A;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.4px;
}

/* Стили для .section-about */
.section-about {
    background-color: #F9F9F9;
}

.section-container {
    width: 1200px;
    margin: 0 auto;
}

.section-head {
    padding-top: 111px;
    margin-left: 16px;
    color: #000;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-desc {
    padding: 39px 0 89px 18px;
    color: #727272;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}

/* стили для .section-project */
.section-project {
    background: var(--accent, #34547A);
}

.section-container2 {
    width: 1200px;
    margin: 0 auto;
}

.block1 {
    padding: 100px 0 97px 57px;
    display: inline-block;
    margin-right: 15px;
}

.sectionhead2 {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sectiondesc2 {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    margin-right: 59px;
}

.block2 {
    display: inline-block;
}

.block1:nth-child(n+2) {
    padding: 0;
}

.block2:last-child {
    margin: 0;
}

/* стили для section-work */
.section-work {
    background-color: var(--silver, #EEEFF1);
}

.work-container {
    width: 1200px;
    margin: 0 auto;
}

.work-title {
    padding: 101px 0 35px 10px;
    color: #000;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    line-height: normal;
}

.work-desc {
    color: #727272;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%; /* 26.25px */
    padding: 5px 0 75px 17px;
}

.work-video {
    padding: 0 53px 97px;
}

/* стили для footer */
footer {
    background-color: #34547A;
}

.bottom-container {
    width: 1200px;
    margin: 0 auto;
}

.bottom-head {
    padding: 48px 0 12px 55px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottom-desc {
    padding: 0 0 50px 55px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
}
