/* Стили для .header */
.header {
    background-color: #EEEFF1;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

.navigation {
    padding:76px 0px 0px 32px;  
}

.navigation li {
    display: inline;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin-right: 40px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
    color: #000;
}

.header-head {
    color: #000;
    color: #000;
    font-size: 53px;
    font-weight: 500;
    line-height: 164.063%;
    padding: 139px 0 0 33px;
}

.header-desc {
    margin: 28px 0 0 45px;
    color: #727272;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%; /* 26.25px */
}

.header-btn {
    width: 225px;
    height: 65px;
    margin: 86px 0 141px 41px;
    background-color:#34547A;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.6px;
    }

/* Стили для .section-about */
.section-about {
    background-color: #F9F9F9;
}

.section-container {
    width: 1200px;
   margin: 0 auto;
}

.section-head {
    padding: 112px 0 0 759px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
}

.section-desc {
    padding:50px 0 100px 690px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
}

/* стили для .section-project */
.section-project {
    background-color: var(--accent, #34547A);
}

.section-container2 {
    width: 1200px;
    margin: 0 auto;
}

.block1 {
    padding: 100px 0 100px 409px;
    display: inline-block;
    margin-right: 20px;
}

.image {
    height: 50px;
    width: 50px;
}



.block2 {
    width:71px;
    height:44px;
    display: inline-block;
    margin-right: 45px;
}

.block1:nth-child(n+2) {
    padding: 0;
}

.block2:last-child {
    margin: 0;
}
    
    .section-head2 {
        color: #FFF;
        font-size: 21px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 10px;
    }
    
    .section-desc2 {
        color: #FFF;
        right: 30px;
        font-size: 16px;
        font-weight: 400;
        line-height: 164.063%;
    }
}
/* стили для section-work */

.section-work{
    background-color: var(--silver, #EEEFF1);
}

.work-container{
    width:1200px;

    margin:0 auto;
}

.work-title{
    padding:100px 0 50px 758px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
}

.work-desc{
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    padding:0 0 57px 690px;     
}

.work-video{
    padding: 0 405px 100px;
}

/* стили для footer */
footer{
    background-color: #34547A;
}

.bottom-container{
    width: 1200px;
    margin:0 auto;
}

.bottom-head{
    padding:50px 0 20px 406px;
    color: #FFF;
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
}

.bottom-desc{
    padding:0 0 50px 406px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 164.063%; 
}