.menu {
    background-color: #e80a0a;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
}

/*Ширина (width: 30vw;):

Ширина меню будет 30% от ширины окна браузера (vw — это единица измерения, зависящая от ширины экрана; 1vw = 1% ширины окна браузера).
Высота (height: 100vh;):

Высота меню будет занимать 100% высоты экрана (vh — это единица измерения, зависящая от высоты окна браузера; 1vh = 1% высоты экрана).

Итоговый результат:
Элемент с классом .menu станет фиксированным боковым меню, которое будет занимать правую часть экрана (30% ширины)
и растягиваться по высоте на весь экран (100%). Его фон будет ярко-красного цвета, а текст внутри — белого цвета.
Меню останется на своем месте, даже если пользователь будет прокручивать страницу.
Такое меню часто используется для навигации или боковых панелей.*/