@charset "UTF-8";
/* Обнуление */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* ------------------ */
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.example {
    padding: 80px 0;
}

.example__container {
    padding: 0 15px;
    margin: 0 auto;
    /*Переводим в REM*/
    /*делим ширину по макету(1020+30px)*/
    /*на 16 ( размер шрифта по умолчанию)*/
    max-width: 65.625rem;
    position: relative;
}

/*768 px медиазапрос делится на 16px font-size по умолчанию*/
@media (min-width: 48em) {
    .example__container:before {
        content: '';
        background: url('../img/decor.svg') 0 0 /100% no-repeat;
        position: absolute;
        right: 0;
        /*Ширину картинки по макету делим на ширину родительского элемента example__container,
         у которого свойство position:relative,умножаем на 100
         /*153/1050*100=14.57*/
        width: 14.57%;
        /*Высоту картинки по макету делим на ширину родительского элемента example__container,
        у которого свойство position:relative,умножаем на 100*/
        /*241/1050*100=22.95*/
        /*Вместо свойства height используем padding-top,потому что высота в 1ом случае будет считаться от фиксированной высоты родительского элемента*/
        padding-top: 22.95%;
        /*Половина родительского элемента example__container*/
        top: 50%;
        transform: translate(50%, -50%);
    }
}

@media (max-width: 48em) {
    .example__title {
        /*Переводим в REM*/
        /*делим нужный размер шрифт (30px)*/
        /*на 16 ( размер шрифта по умолчанию)*/
        font-size: 2.1rem;
    }
}

.example__header {
    margin-bottom: 25px;
    /*Переводим в REM*/
    /*делим ширину по макету(750px)*/
    /*на 16 ( размер шрифта по умолчанию)
        750/16=46.875%*/
    max-width: 46.875rem;
}

.example__sub-title {
    color: #a989c7;
    font-weight: 700;
    text-transform: uppercase;
    /*Переводим в REM*/
    /*делим размер по макету(14px)*/
    /*на 16 ( размер шрифта по умолчанию)
        14/16=0.875*/
    font-size: 0.875rem;
    /*Переводим % либо в части*/
    /*Делим размер по макету(24px)*/
    /*на размер шрифта (14px)
        24/14=1.7*/
    line-height: 1.7;
    /*Переводим в EM*/
    /*делим размер по макету(15px)*/
    /*на 14px ( размер шрифта)
        15/14=1.07em*/
    margin-bottom: 1.07em;
}

.example__title {
    color: #93b482;
    text-transform: uppercase;
    font-weight: 900;
    /*Переводим в REM*/
    /*делим размер по макету(42px)*/
    /*на 16 ( размер шрифта по умолчанию)
        42/16=2.625*/
    font-size: 2.625rem;
    /*Переводим % либо в части*/
    /*Делим размер по макету(50px)*/
    /*на размер шрифта (42px)
        50/42=1.19*/
    line-height: 1.19;
    /*Переводим в EM*/
    /*делим размер по макету(16px)*/
    /*на 42px ( размер шрифта)
        16/42=0.38em*/
    margin-bottom: 0.38em;
    /*Переводим в EM*/
    /*делим размер по макету(5px)*/
    /*на 42px (  текущий размер шрифта)
        5/42=0.12em*/
    letter-spacing: 0.12em;
}

.example__text {
    /*Переводим % либо в части*/
    /*Делим размер по макету(24px)*/
    /*на размер шрифта (16px)
        24/16=1.5*/
    line-height: 1.5;
}

.example__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin-right: -12px;
}

.example__item {
    padding-right: 12px;
    /*Размер карточек в процентах */
    /*100%/3 =33.3%*/
    flex: 1 1 33.333%;
    /*Переводим в REM*/
    /*делим размер по макету(290px)*/
    /*на 16 ( размер шрифта по умолчанию)
        290/16=18.125rem*/
    min-width: 18.125rem;
}

.item-example {
    display: flex;
    column-gap: 23px;
}

.item-example__icon {
    flex: 0 0 63px;
}

.item-example__title {
    color: #f2726f;
    font-weight: 900;
    /*Переводим в REM*/
    /*делим размер по макету(24px)*/
    /*на 16 ( размер шрифта по умолчанию)
        24/16=1.5rem*/
    font-size: 1.5rem;
    /*Переводим в EM*/
    /*делим размер по макету(11px)*/
    /*на 24 ( размер шрифта по умолчанию)
        24/11=1.5rem*/
    margin-bottom: 0.45em;
}

.item-example__text {
    line-height: 1.5;
    /*Переводим % либо в части*/
    /*Делим размер по макету(24px)*/
    /*на размер шрифта (16px)*/
    /*24/16=1.5*/
}
